.navbar {
    background-color: #f8f9fa; /* Light background for the navbar */
  }
  .navbar-brand {
    font-weight: 600;
  }
  .nav-link {
    font-weight: 400;
  }
  .nav-link.active {
    color: #0d6efd;
  }
  .nav-item {
    margin-left: 15px;
  }
  footer {
    background-color: #f1f1f1;
  }